# Entorno virtual
venv/
env/
.venv/

# Pycache
__pycache__/
*.py[cod]

# Tool caches
.pytest_cache/
.ruff_cache/

# Variables de entorno y secretos
.env
*.env.local
*.env.prod

# Archivos de SO
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Distribucion
dist/
build/
*.egg-info/

# Coverage
htmlcov/
.coverage
.coverage.*
